{% extends 'layouts/layout.admin.html.twig' %}

{% block title %} Tabs List | Admin {% endblock %}
{% block titleContent %} Tabs List {% endblock %}

{% block content %}
    <table class="table">
        {% for note in notes %}
            <tr>
                <td>{{ note }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="alert alert-info">
        <p>Nombre de notes : {{ notes | length }}</p>
        <p>Note minimal : {{ min(notes) }}</p>
        <p>Note maximal : {{ max(notes) }}</p>
    </div>
{% endblock %}