{% extends 'layouts/layout.admin.html.twig' %}

{% block title %}
    Twig
{% endblock %}

{% block main %}
    {{ parent() }}
    <ol>
        <li>Nouveau contenue</li>
        <li>J'adore twig</li>
    </ol>
{% endblock %}